[submodule "frontend-vuetify"]
	path = frontend-vuetify
	url = https://github.com/Hasban-Fardani/sarpras-ui-vuetify.git
[submodule "sarpras-backend"]
	path = backend
	url = https://github.com/Hasban-Fardani/sarpras-backend.git
[submodule "sarpras-shadcn"]
	path = frontend-shadcn-ui
	url = https://github.com/Hasban-Fardani/sarpras-ui-shadcn-vue.git
