[submodule "sarpras-backend"]
	path = backend
	url = https://github.com/Hasban-Fardani/sarpras-backend.git
[submodule "frontend-vuetify"]
	path = frontend-vuetify
	url = https://github.com/Hasban-Fardani/sarpras-ui-vuetify.git
[submodule "frontend-shadcn"]
	path = frontend-shadcn
	url = https://github.com/Hasban-Fardani/sarpras-shadcn-vue.git
