includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    excludePaths:
        - ./app/Models/
    level: 2

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#
#    checkMissingIterableValueType: false